 
 /* Estilos para as páginas */
 .page {
    display: none;
    animation: fadeIn 1s ease forwards;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*menu*/
#menuToggle {
    display: block;
    position: relative;
    top: 410px;
    left: 20px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #212121;
    font-weight: 800;
    line-height: 15px;
    transition: color 0.3s ease;
    font-family: 'Inter', sans-serif;
  }
  .clique {
      color: #017c16;
      font-weight: 900;
  }
  
  #menuToggle a:hover{
    color: rgb(245, 242, 241);
  }
  
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #6d422f;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #f3e3e3
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(227, 164, 68, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 16px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
.contato {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #212121;
  font-weight: 900;
}
.linhamenu {
  border: 2px solid #dad7d7;
  margin-bottom: 4px;
}
/* fonts */

.fonts {
    font-family: 'Croissant One', cursive;
}

.active {
    display: block;
}

#page1 {
    background-image: url(../img/imagem-principal.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}

#page2 {
    background-image: url(../img/imagem-principal2.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    margin-top: 20px;

}

#page1 button {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 460px;
    position: relative;
}
#page1 p {
    letter-spacing: 1px;
    text-align: center;
    top: 430px;
    position: relative;
    font-family: 'Croissant One', cursive;
}
#page2 button {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 800px;
    position: relative;
}
#page2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 550px;
    position: relative;
    text-align: center;
    font-family: "Roboto", serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-right: 20px;
    padding-left: 20px;
}
#page2 .sec{
  font-size: 12px;
  font-weight: 400;
  top: 500px;
}
.clean {
  margin-top: 650px;
}
#riopardo {
  background-color: rgb(0, 255, 255, 0.1);
  margin-top: -600px;
}
#brotas-torrinha{
  background-color: rgba(228, 114, 133, 0.2);
  margin-top: -600px;
}
#cananeia {
margin-top: -600px;
 background-color: rgba(86, 248, 202, 0.1);
}
#ana {
  background-color: rgba(173, 240, 221, 0.1);
}
#ilha {
  background-color: rgba(247, 174, 220, 0.2);
}
#castt {
  background-color: rgba(246, 210, 134, 0.1);
}
#Sebs {
  background-color: rgb(255, 127, 80, 0.1);
}
#horto {
  background-color: rgb(0, 255, 255, 0.1);
}
#pico {
  background-color: rgb(255, 20, 147, 0.1);
}
#anjos {
  background-color: rgb(127, 255, 0, 0.2);
}
#esk {
  background-color: rgb(220, 20, 60, 0.1);
}
#usina {
  background-color: rgb(189, 183, 107, 0.2);
}
#canta {
  background-color: rgb(1, 124, 22, 0.1);
}
.linha {
    border: 1px solid #e1dfdf;
    margin-top: 620px;

}
.linha2 {
  border: 1px solid #e1dfdf;
  margin-top:-500px;

}

.linha3 {
  border: 1px solid #e1dfdf;
  margin-top:80px;

}
.linha5 {
  border: 1px solid #e1dfdf;
  margin-top:80px;

}
#page1 p.abre {
  text-align: center;
  top: 430px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}

/* hover imagens */

.texto-imagens {
  position: relative;
  width: 100%; 
}

.texto-imagens img {
  width: 100%;
}

.texto {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(3, 124, 90, 0.7); /* Cor de fundo do texto */
  color: #fff; /* Cor do texto */
  padding: 10px; /* Espaçamento interno do texto */
  opacity: 0;
  transition: opacity 0.3s; /* Animação de fade-in */
}

.texto-imagens:hover .texto {
  opacity: 1;
}
.foto-top {
  border: 3px solid rgb(142, 140, 140);
  box-shadow: 5px 5px 5px #888888;
}
.pe {
  text-align: center;
  margin-top: -420px;
}

#page1 .pe {
  font-family: "Roboto", serif;
  font-size: 14px;
}

/* Estilo para a linha */
hr {
  border: none; 
  height: 4px; 
  background-color: #16669b; 
  width: 80%;
  margin: 20px auto; 
  margin-top: 470px;
}



@media (min-width: 992px) {
  #ilha {
      margin-top: 100px;
  }
  #page2 button {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
     position: relative;
  }
  #page2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 500px;
    position: relative;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-right: 20px;
    padding-left: 20px;
   }

  .pe p {
    text-align: center;
    margin-top: 85px;
    font-family: "Roboto", serif;
   }

   /* Estilo para a linha */
hr {
  border: none; 
  height: 4px; 
  background-color: #3498db; 
  width: 80%;
  margin: 20px auto; 
  margin-top: 470px;
}
}
  

