.chart {
  width: 100%;
}

.chartInner {
  width: 100%;
}

@media (max-width: 600px) {
  .chart {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .chartInner {
    width: 620px;
    min-width: 620px;
  }
}