.container {

    max-width: 1400px;

    margin: 24px auto;

    padding: 0 32px;

}

.header {

    display: grid;

    grid-template-columns: 420px 1fr;

    gap: 48px;

    align-items: start;

}

.box {

    background: rgba(194, 138, 44, .10);

    border-radius: 28px;

    padding: 36px;

    text-align: center;

}

.title {

    font-size: 2rem;

    line-height: 1.1;

    color: #243241;

    margin-bottom: 18px;

}

.date {

    font-size: 1rem;

    font-weight: 600;

    color: #777;

}

.text {

    display: flex;

    flex-direction: column;

    gap: 24px;

    font-size: 1.2rem;

    line-height: 1.4;

    color: #2E2E2E;

    text-align: justify;

}

@media (max-width: 900px) {

    .container {
        margin: 10px auto;
        padding: 0 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box {

        margin: 0 -20px;      /* mesmo ajuste de Friends */

        padding: 28px 20px;

        border-radius: 28px;

    }

    .title {
        font-size: 2.2rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.05rem;
        line-height: 1.6;
    }

}