.gallery {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: var(--space-5);

}

/* Tablet */

@media (max-width: 1200px) {

    .gallery {

        grid-template-columns: repeat(2, 1fr);

    }

}

/* Celular */

@media (max-width: 768px) {

    .gallery {

        grid-template-columns: 1fr;

        gap: var(--space-5);

    }

}