.footer {

    padding: var(--space-6);

    border-radius: var(--radius-lg);

    background: #EFF3F8;

    text-align: center;

    color: #666;

    font-size: .95rem;

    border: 1px solid rgba(0,0,0,.05);

}

@media (max-width:768px){

    .footer{

        margin-top: var(--space-7);

        margin-bottom: var(--space-8);

    }

}
