.bar{

    position:fixed;

    left:0;
    right:0;
    bottom:0;

    display:flex;

    align-items:center;

    height:72px;

    padding-bottom:env(safe-area-inset-bottom);

    background: var(--color-navigation);

    border-top:1px solid #DDD5C8;

    z-index:500;

}

.item{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:4px;

    min-width:0;

    color: var(--color-text);

}
.item span{

    font-size:.72rem;

    font-weight:600;

    line-height:1;

}



.item:hover{

    color:#FFFFFF;

}

.active{

    color:#ad7513;

}

@media(min-width:1025px){

    .bar{

        display:none;

    }

}