.main {

    display: flex;

    min-height: 100vh;

    background: #Ffffff;

}

.content {

    flex: 1;

    overflow-y: auto;

    padding: 32px;
    

}

.container {

    width: 100%;

    max-width: 1500px;

    margin: 0 auto;

}