.section {

    margin-top: 40px;

    padding: 32px;

    background: #F7F3EB;

    border-radius: 32px;

}

.header {

    display: flex;
    align-items: center;
    gap: 14px;

    margin-bottom: 32px;

}

.icon {

    color: #173F50;

}

.title {

    font-size: 1.4rem;
    font-weight: 700;

    color: #173F50;

    letter-spacing: -.02em;

}
/* ---------------- MOBILE ---------------- */

@media (max-width:768px){

    .section{

        margin-top:24px;

        padding:24px 12px;

        border-radius:0;

    }

    .header{

        margin-bottom:24px;

    }

    .icon{

        width:24px;
        height:24px;

    }

    .title{

        font-size:1.2rem;

    }

}