@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.back-icon {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}

.about-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.about-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*texto abertura facebike*/
p {
    font-size: 16px;
    line-height: 1.6;
    color: #2E2E2E;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
}

.divider {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}

.dividerfim {
  border: none;
  height: 8px;
  background: #234a19;
  margin: 20px 0;
}

.gallery-info {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-title {
    font-size: 24px;
    font-weight: bold;
    color: #2E2E2E;
}

.gallery-date {
    font-size: 14px;
    color: #a5a4a4;
    margin-bottom: 10px;
}

.gallery-description {
    font-size: 16px;
    color: #1e1e1e;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
}

.gallery img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.22);
 
}

/*botão voltar*/
.back-icon {
    font-size: 20px;
    cursor: pointer;
    color: #212121;
    position: absolute;
    top: 24px;
    left: 50px;
    background-color: #d6d7d8;
    padding: 8px;
    border-radius: 10px;
}

.back-icon:hover {
    color: #0056b3;
}

/* Botão top page */
.scroll-to-top-fixed {
  font-size: 14px;
  color: #212121;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d6d7d8;
  padding: 8px;
  border-radius: 10px;
  border: none;
  transition: color 0.3s ease-in-out;
}

.scroll-to-top-fixed:hover {
  color: #0056b3;
}



/*menu*/
#menuToggle {
    display: block;
    position: relative;
    top: 10px;
    left: -0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 30px;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #212121;
    font-weight: 800;
    line-height: 15px;
    transition: color 0.3s ease;
    font-family: 'Inter', sans-serif;
  }
  .clique {
      color: #017c16;
      font-weight: 900;
  }
  
  #menuToggle a:hover{
    color: rgb(245, 242, 241);
  }
  
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #6d422f;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #eb0909;
    
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 150px;
    margin: -120px 0 0 -50px;
    padding: 50px;
    padding-top: 50px;
    
    background: rgba(227, 164, 68, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 16px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
.contato {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #212121;
  font-weight: 900;
}
.linhamenu {
  border: 2px solid #dad7d7;
  margin-bottom: 4px;
}

/*seta acima*/
.scroll-to-top {
  font-size: 14px;
  color: #212121;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d6d7d8;
  padding: 8px;
  border-radius: 10px;
  border: none;
  transition: color 0.3s ease-in-out;
}

.scroll-to-top:hover {
  opacity: 1;
}

.scroll-to-top {
  z-index: 1000;
}


.about-button {
  background-color: #bd6a28;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  transition: background 0.3s ease;
  display: block;   
  margin-left: auto;    
  margin-right: auto; 
}



@media (min-width: 320px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 10px;
        left: -90px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        margin-bottom: 30px;
    }
    #menu {
        position: absolute;
        width: 150px;
        margin: -120px 0 0 -100px;
        padding: 50px;
        padding-top: 50px;
        
        background: rgba(227, 164, 68, 0.76);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}


.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
