
/*font dos icones*/

.home {
    text-align: center;
    padding-top: 5px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
 }
  
  .home-image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  
  /*fonte do título principal*/
  
  .home-title {
    font-size: 22px;
    font-weight: 900;
    color: #2E2E2E;
    margin-top: 10px;
    padding: 10px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
    
  }
  
  .home-text {
    font-size: 16px;
    color: #2E2E2E;
    max-width: 600px;
    margin: 1px auto;
    line-height: 1.5;
    text-align: justify;
    padding: 10px;
  
  }
  

  .footer {
    background-color: #e3d4c8;
    font-family: 'Plus Jakarta Sans';
    padding-top: 0,5px;
    padding-bottom: 0,6px;
    margin-top: 10px;
    font-size: 10px;
  }

  .home-text::first-letter {
    font-size: 3em;
    font-weight: bold; 
    float: left;
    margin-right: 8px;
    line-height: 1;
    color: #2E2E2E;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  
  .home-icon {
    margin-top: 20px;
    width: 50px; 
    height: 50px; 
  }
  
  .icon-text {
    margin-top: 8px;
    font-size: 10px;
    color: #a35d23;
    text-align: center;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  
  /*botão ver mais*/

  .toggle-button {
    background-color: #E3EDF5;
    color: #2E2E2E;
    border: none;
    padding: 8px 30px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    margin: -5px auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .toggle-button:hover {
    background-color: #b1b881; /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05);
  }
  
  .toggle-button:active {
    background-color: #004080; /* Azul ainda mais escuro ao clicar */
    transform: scale(0.98);
  }
  
  /*icones home*/

  .icon-links {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espaçamento entre os ícones */
    margin-top: 5px; /* Espaço entre o botão e os ícones */
    margin-bottom: 20px;
    background-color: #ebf1f5;
  }
  
  .home-icon {
    width: 60px; /* Tamanho dos ícones */
    height: 58px;
    transition: transform 0.3s ease-in-out;
  }
  
  .home-icon:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
  }
  
  /*formulário de contato */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(89, 88, 88, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #f8eadf;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.contact-form h2 {
  text-align: center;
}

.contact-form label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #b30003;
}

.status-message {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.home-icon {
  cursor: pointer;
}

/*icones*/
.icon-links {
  display: flex;
  gap: 24px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #2E2E2E;
}

.icon-label {
  margin-top: 6px;
  font-size: 0.95rem;
  margin-bottom: 20px;
  font-weight: 600;
}


/*pizza*/

.pie-container {
  width: 350px;
  margin: 20px auto;
  text-align: center;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pie-container h3 {
  color: #2E2E2E;
}
