.home {
    text-align: center;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
 }
  
  .home-image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  
  .home-title {
    font-size: 22px;
    font-weight: 900;
    color: #888686;
    margin-top: 10px;
    background-color: #f8eadf;
    padding: 10px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    
  }
  
  .home-text {
    font-size: 16px;
    color: #353434;
    max-width: 600px;
    margin: 1px auto;
    line-height: 1.5;
    text-align: justify;
    background-color: #f8eadf;
    padding: 10px;
  
  }
  
  .home-button {
    background-color: #bd6a28;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    transition: background 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #a35d23;
  }
  
  .footer {
    background-color: #e3d4c8;
    font-family: "Roboto", sans-serif;
    padding-top: 0,5px;
    padding-bottom: 0,6px;
    margin-top: 10px;
  }

  .home-text::first-letter {
    font-size: 3em;
    font-weight: bold; 
    float: left;
    margin-right: 8px;
    line-height: 1;
    color: #a35d23;
}